#navbar {
	height: 10%; 
	/*background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);*/
	background: linear-gradient(to bottom, #80b3ff, #eeccff, white);
	border-bottom: 1px solid #a3c2c2;
}

#messenger_link {
	padding-left: 5px;
	padding-top: 3vh;
}

.text {
	color: white; 
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.element {
	margin-bottom: 2vh;
	padding: 2vh;
}

#friends_bar {
	border-right: 1px solid #a3c2c2;
	text-align: center;
	overflow: auto;
	background: url('http://localhost/SNN/images/friends1.jpg') no-repeat,
	            url('http://localhost/SNN/images/friends2.jpg') no-repeat,
	            url('http://localhost/SNN/images/friends3.jpg') no-repeat,
	            url('http://localhost/SNN/images/friends4.jpg') no-repeat;
	background-size: 50% 50%, 50% 50%, 50% 50%, 50% 50%;
	background-position: left top, right top, left bottom, right bottom;
}

#inventory {
	background: url('http://localhost/SNN/images/users.jpg') no-repeat;
	background-size: 100% 100%;
	text-align: center;
	overflow: auto;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

/* the track (progress bar) of the scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* the draggable scrolling handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #80b3ff, #eeccff, white); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eeccff; 
}
