<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="vendor/autoload.php"
    verbose="true">
    <testsuites>
        <testsuite name="database">
            <directory>tests/skeleton/Database</directory>
            <file>tests/skeleton/Database/DatabaseTest.php</file>
        </testsuite>
        <testsuite name="messenger">
            <directory>tests/models/Messenger</directory>
            <file>tests/models/Messenger/MessengerTest.php</file>
        </testsuite>
        <testsuite name="factories">
            <directory>tests/models/Factories</directory>
            <file>tests/models/Factories/FactoriesTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>