#chats_wrapper {
				border-right: 1px solid black;
			    overflow: auto; 
			    height: 100%;
			    /*margin-top: 15%;*/
			  }
.active_chat_header {
	          position: relative;
			  border-bottom: 1px solid black;
			  width: 100%; 
			  min-height: 55px;
			  overflow: hidden; 
              cursor: pointer;
			  color: pink;
			  background-color: red;
		     }
.chat_header {
	          position: relative;
			  border-bottom: 1px solid black;
			  width: 100%; 
			  min-height: 55px;
			  overflow: hidden; 
              cursor: pointer;
			  color: pink;
		     }
.chat_header_unread {
	          position: relative;
			  border-bottom: 1px solid black; 
			  width: 100%; 
			  min-height: 55px;
			  overflow: hidden; 
              cursor: pointer;
			  color: pink;
			  background-color: #f2f2f2;
		     }
.chat_header:hover  {
	                 background-color: aquamarine;
			       }
.chat_header_unread:hover  {
	                 background-color: aquamarine;
			       }
#mes {
	  overflow: auto;
	  /*height: 70%;*/
	  background-color: #ccffcc
    }
/*#sidebar {
	      height: 70%;
	      background-color: #ffffe6
        }*/
@media only screen and (min-width: 600px) {
	#sidebar {
	      /*height: 70%;*/
	      background-color: #ffffe6
        }
}
.message_inlet {
	            display: inline-block;
	            word-wrap: break-word;
			    background-color: yellow; 
				border-radius: 18px;
			    padding: 5px; 
				max-width: 80%; 
				margin-bottom: 5px; 
				font-weight: normal;
		    }
.message_outlet {
	             display: inline-block;
	             word-wrap: break-word;
			     background-color: #00ff00; 
				 border-radius: 8px;
			     padding: 5px; 
				 max-width: 80%; 
				 margin-bottom: 5px; 
				 margin-left: 20%;
				 font-weight: normal;
		    }
			  
